<!DOCTYPE html>
<html>
    <head>Make New Event</head>
    <body>
        <form>
            <label for="name">Event name:</label><br>
            <input typeventNamee="text" id="name" name="name"><br><hr>
            <form action="/addPerson" method="post">
                <label for="person">Add persons e-mail:</label><br>
                <input type="email" id="person" name="person">
                <button type="submit" formaction="/addPerson.html">Add Person</button>
            </form>
            <button type="submit" formaction="/event.html">Create Event</button>   
        </form>
    </body>
</html>